@CHARSET "ISO-8859-1";

*{
	margin: 0px;
	padding: 0px;
}

html, body{
	height: 100vh;
	width: 100vw;	
}

.snap-canvas{
	position: relative;
	height: 100%;
	width: 100%;	
	z-index 0;
}

.snap-element{
	position: absolute;
	z-index: 1;
}

/*
DELETE
*/

#grid1{
	width: 50%;
	height: 50%;
	border: 1px solid black;
	background-color: pink;
}

#g1e1{
	width: 100px;
	height: 100px;
	background-color: lightgreen;
}